.app-title {
  background-color: #CBE0C1;
  color: #48812C;
  margin: 0;
  padding: 5px 0px;
  font-size: 70px;
  text-align: center;
  font-style: bold;
  font-family: "lucida console";
  text-transform: uppercase;
}

nav.menu {
  width: 100%;
  left: 10%;
  height: 45px;
  font-size: 50px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
  background-color: #782956;
  padding: 0px, 10px;
}

nav.menu div {
  display: table;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

nav.menu a {
  padding: 10px 10px;
  text-decoration: none;
  margin: 0px;
  color: #DFDFDF;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

nav.menu a.activeLink {
  background-color: #260E1B;
}

nav.menu a:hover {
  color: #FFE9F5;
  background-color: #D1B5C5;
}
