div {

  &.clearfix {
    overflow: auto;
  }

  &.container {
    padding: 0px;
    margin: 0px;
    height: 100%;
    align-content: stretch;
  }

  &.block-content {
    width: 100%;
    margin: 10px 0px;
  }

  &.selected-item {
    height: auto;
    max-height: 300px;
    overflow: auto;
  }

  &.view-items{
    max-height: 350px;
    overflow: auto;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      border: var(--primary-3);
      border-width: 1px;
      border-style: solid;
      border-radius: 7px;
      padding: 10px;;
      background-color: var(--primary-2);
      cursor: pointer;

      &.selected {
        border: var(--secondary-3);
        border-width: 1px;
        border-style: solid;
        border-radius: 7px;
        background-color: var(--secondary-2);
      }
    }
  }
}
